.chat-box-container { 
  position: relative;
  z-index: 10;
}

#chat-circle {
 position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  cursor: pointer;

}

.btn#my-btn {
  background: white;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: #5865c3;
}

#chat-overlay {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}

.chat-box {
  display: none;
  background: #efefef;
  position: fixed;
  right: 10px;
  bottom: 25px;
  width: 20vw;
  max-width: 25vw;
  
  border-radius: 5px;
  /*   box-shadow: 0px 5px 35px 9px #464a92; */
  box-shadow: none;
}

.chat-box-toggle {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.chat-box-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.chat-box-body {
  position: relative;
  height: auto;
  width: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
}

.chat-box-body:after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin-bottom: 10px;
  z-index: -1;
}

.chat-input {
  background: #f4f7f9;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
}

.chat-input > form {
  display: block;
  margin-bottom: 0;
}

#chat-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

#chat-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

#chat-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

#chat-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.chat-submit {
  position: absolute;
  bottom: 0px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  color: #ffc251;
  width: 35px;
  height: 35px;
}

.chat-open-icon {
  position: absolute;
  bottom: 4px;
  right: 5px;
}

.chat-logs {
  padding: 15px;
  height: 370px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.chat-logs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #ffc251;
}

@media only screen and (max-width: 500px) {
  .chat-logs {
    height: 30vh;
  }
}

.chat-msg.user > .msg-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  width: 15%;
}

.chat-msg.self > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: right;
  width: 15%;
}

.cm-msg-text {
  background: white;
  padding: 0.7em 0.5em 0.5em 0.7em;
  max-width: 75%;
  float: left;
  margin-left: 4px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
  white-space: pre-line;
}

.next-msg-text {
  padding: 10px 15px 10px 15px;
  max-width: 75%;
  float: right;
  margin-right: 10px;
  background: #ce7a58;
  opacity: 0.3;
  color: white;
  position: relative;
  margin-bottom: 5px;
  border-radius: 30px;
  font-size: 13px;
}

.chat-msg {
  clear: both;
}

.next-msg {
  clear: both;
}

.next-msg-text:hover {
  background: #ffc251;
  color: black;
  cursor: pointer;
  opacity: 0.8;
}

.chat-msg.self > .cm-msg-text {
  float: right;
  margin-right: 10px;
  background: #ffc251;
  color: black;
}

.cm-msg-button > ul > li {
  list-style: none;
  float: left;
  width: 50%;
}

.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}

#speech { 
  margin-top: 10px;
}

#speech-icon { 
  font-size: 1.7em;
}
